BasedOnStyle: LLVM
Language: Cpp

IndentWidth: 4
TabWidth: 4
UseTab: Never

AlignOperands: AlignAfterOperator
AlignEscapedNewlines: Left
AlignTrailingComments: true
AlwaysBreakBeforeMultilineStrings: false
BinPackArguments: true

AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never

BreakBeforeBraces: Linux
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesInParentheses: false

IncludeBlocks: Regroup
IncludeCategories:
    - Regex: '<kernel/arch/.*>'
      Priority: 2
    - Regex: '<kernel/.*>'
      Priority: 1
    - Regex: '<(uacpi|utils|lib.*)/.*>'
      Priority: 3
    - Regex: '<.*>'
      Priority: 4
    - Regex: '.*'
      Priority: 5

ForEachMacros:
  - FOREACH_LLIST
  - FOREACH_CHILDREN
  - FOREACH_MULTIBOOT_TAG
