BasedOnStyle: LLVM
Language: Cpp

IndentWidth: 4
TabWidth: 4
UseTab: Never

AlignOperands: AlignAfterOperator
AlignEscapedNewlines: Left
AlignTrailingComments: true
AlwaysBreakBeforeMultilineStrings: false
BinPackArguments: true

AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never

PenaltyBreakAssignment: 50
PenaltyBreakBeforeFirstCallParameter: 20
PenaltyBreakComment: 10
PenaltyBreakFirstLessLess: 0
PenaltyBreakString: 10
PenaltyExcessCharacter: 100
PenaltyReturnTypeOnItsOwnLine: 10

BreakBeforeBraces: Linux
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesInParentheses: false

IncludeBlocks: Regroup
IncludeCategories:
    - Regex: '<(kernel|uapi)/arch/.*>'
      Priority: 2
    - Regex: '<(kernel|uapi)/.*>'
      Priority: 1
    - Regex: '<(uacpi|utils|lib.*)/.*>'
      Priority: 3
    - Regex: '<.*>'
      Priority: 4
    - Regex: '.*'
      Priority: 5

ForEachMacros:
  - FOREACH_LLIST
  - FOREACH_LLIST_REVERSED
  - FOREACH_LLIST_SAFE
  - FOREACH_LLIST_REVERSED_SAFE
  - FOREACH_LLIST_ENTRY
  - FOREACH_LLIST_ENTRY_SAFE
  - FOREACH_LLIST_ENTRY_REVERSE
  - FOREACH_LLIST_ENTRY_REVERSE_SAFE
  - FOREACH_CHILDREN
  - FOREACH_MULTIBOOT_TAG
  - INFINITE_LOOP
  - locked_scope
  - no_preemption_scope
