[submodule "docs/doxygen/doxygen-awesome-css"]
	path = docs/doxygen/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
[submodule "lib/libuacpi/uACPI"]
	path = lib/libuacpi/uACPI
	url = git@github.com:UltraOS/uACPI.git
